<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Xavier's The Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card class="welcome-card">
      <ion-img src="assets/xavier-university-seeklogo.com.svg"></ion-img>
      <ion-card-header>
        <ion-card-title>Welcome to The Store</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <h1>What We Are</h1>
        <p>


The Store is Xavier's student-run food pantry, located near The Village gazebo and managed by the Student Government Association. And even though we call ourselves "The Store" everything we offer is free of charge. The Store is open every Friday from 3 p.m. to 5 p.m., open to all students and is completely confidential.

</p>
<h1>How We Work</h1>

<p>
The Store is stocked with pantry stables such as canned goods-beans, vegetables, meat, pastas, fruit and more. Other basic items include peanut butter, grains, cereals, healthy snacks, and oils. Basic personal items, like soap, shampoo, paper towels, household goods, etc. are also available.
</p>
<h1>Why We're Here</h1>

<p>
Even in an environment as comfortable and accommodating as our campus, there still exists real needs. It could be as simple as a sudden financial issue, or having to choose between buying books, paying rent and tution, or purchasing food.

A recent national survey by the College and University Food Bank Alliance, revealed that nearly half of its student population matched the national rate of 48 percent of respondents who experienced food insecurity.

A 2016 Xavier campus survey found that among 898 students who completed the survey, 23% were food insecure, including nearly 11% who were experiencing hunger. Food insecurity is an issue that is impacting nearly every city and campus in America.
</p>

<h1>How You Can Help Us</h1>

<p>
The Store would not be able to operate without donations and volunteers. Please email us at thestore@xavier.edu to volunteer your service or make a donation.
</p>
      </ion-card-content>
    </ion-card>
</ion-content>
